@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black;
}

.dark {
  --cursor-color: #000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-blue-500 to-purple-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-b from-blue-600 to-purple-600;
}